/* body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
} */

* {
    font-family: sans-serif;
}


/*RECOMMENDED ARTICLES*/

.clear {
    clear: both;
}

.product__resources {
    /*margin: 60px 0 30px;*/
    background: #fafafa;
    width: 100vw;
    padding: 0 0 60px;
}

.product__resources .product__cont {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
}

.product__cont h2 {
    text-align: center;
    margin: 0 0 60px;
    color: #003A79;
}

.product__resources__item {
    float: left;
    width: calc(33.33% - 30px);
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    margin: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
}

.product__resources__item__img {
    height: 200px;
    width: calc(100% - 60px);
    position: relative;
    left: 30px;
    top: -30px;
    background-size: cover !important;
    background-position: center !important;
}

.product__resources__item h3 {
    padding: 0 30px;
    color: #003A79;
}

.product__resources__item p {
    padding: 0 30px;
    line-height: 1.45;
}

a.article-Button {
    padding: 15px 78px 15px 30px;
    margin: 15px 30px -25px 0px;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 20px;
    font-style: italic;
    color: #ffffff;
    transition: all 0.3s linear;
    text-decoration: none;
    width: auto;
    background-color: #003A79;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    float: right;
}

.article-Button:after {
    /* background: url(https://www.desertfinancial.com/-/media/desert-financial/misc/sharing-success//ctaArrow.svg); */
    background-repeat: no-repeat;
    content: "";
    height: 16px;
    margin-left: 15px;
    margin-top: 5px;
    padding-right: 38px;
    position: absolute;
    transition: all 0.3s linear;
}

.product__resources__item:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
}

.product__resources__item a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.article__bottom {
    position: absolute;
    bottom: 10px;
}

.article__bottom p {
    margin: 0;
}

@media screen and (max-width: 695px) {
    body {
        height: 100%;
    }
    .product__resources__item {
        width: 100%;
        margin: 30px 0 60px;
        display: block;
    }
}


/*END : RECOMMENDED ARTICLES*/