/* 
  terrible.css
  Andrew Tunecliffe, 2015
  http://atunnecliffe.com
*/

* {}


/* Style the Sticky icons on web page */

.stickyicon-list {
    position: fixed;
    top: 200px;
    transform: translateY(-50%);
}

.stickyicon-list a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
}


/* HOver affect on sticky social media icons */

.stickyicon-list a:hover {
    color: #000;
    width: 10px;
}


/* Now we have to design each icon of social media */

.facebook {
    background: #3b5998;
    color: white;
}

.google {
    color: white;
    background: #db4a39;
}

HTML CSSResult Skip Results Iframe EDIT ON .d1 {
    width: 576px;
    height: 432px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fondu 15s ease-in-out infinite both;
}

.conteneur {
    max-width: 576px;
    margin: 50px auto;
}

.d2 {
    width: 100%;
    height: 0px;
    padding-top: 75%;
    box-shadow: 0px 0px 10px #777;
    background-color: #280a5f;
    background-size: contain;
    animation: fondu 15s ease-in-out infinite both;
}

.d1:hover,
.d2:hover {
    animation-play-state: paused;
}



@keyframes fondu {
    0% {
        background-image: url("hik 12.jpg");
    }
    16.666% {
        background-image: url("taf sw.jpg");
    }
   
    33.3333% {
        background-image: url("indexddss.jpg");
    }
    49.9993333% {
        background-image: url("P1030151.jpg");
    }
   
    66.665333% {
        background-image: url("taf.jpg");
        
    }
    83.3253% {
        background-image: url("IMG-20210721-WA0010.jpg" );
      
    }
    100% {
        background-image: url("no.png ");
       
    }

  
  
Resources1× 0.5× 0.25×Rerun
}



/* uncomment to see outlines of stuff when you hover *-/
:hover {
  background:rgba(0, 0, 0, 0.1);
}/**/
html,
body {
    margin: 0;
    padding: 0;
}
.section {
    width: 100%;
}
.video.d1:hover.container {
    background-attachment: fixed;
    position: relative;
    width: 1170px;
    margin: 0 auto;
    color: #444;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto, 'Open Sans', Arial, sans-serif;
    overflow: hidden;
}
.section .container {
    padding: 30px 0 50px 0;
}
.section.bg {
    background: #f7f7f7;
}

/* .ecriture {
    font-size: calc(12px + (300vw - 1920px)/319);
    line-height: calc(20px + (400vw - 2560px)/319);
    margin-bottom: calc(12px + (400vw - 2560px)/319);
    margin-top: calc(12px + (400vw - 2560px)/319);
} */
.soutitre {
    font-size: xx-large;
    height: 100%;
    color: #F44336;
    letter-spacing: 22222222222222222222222222222222222222222223pc;
}

/*
  Header
*/
.hold {
    height: 80px;
}
.header {
    line-height: 80px;
    width: 100%;
    transition: line-height 0.2s linear, box-shadow 0.2s linear;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(245, 245, 245, 0.97);
}
.header.small {
    line-height: 50px;
    box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}
.header.small>.container>#logo {
    height: 40px;
}
#logo {
    background-image: url("NTECHphoto3.jpg");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background: red; */
    
    float: left;
    height: 80;
    width: 246;
    margin-left: -10px;
}
ul.nav {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.nav li {
    float: left;
    position: relative;
}
ul.nav li a {
    transition: color 0.2s linear;
    font-size: 18px;
}
ul.nav li:hover a {
    color: red;
}
ul.nav li a {
    padding: 21px;
    color: initial;
    text-decoration: initial;
}

/*
  Slider
*/
.section .slider,
.section .footer {
    background: #333;
    background-image: url("téléchargerH.jpg");
}
.slidercontent {
    text-align: center;
}
.video :hover .hero {
    font-family: 'Roboto Slab', sans-serif;
    /* color: white; */
    
    color: #3d87b3;
    /* font-weight: normal; */
    
    letter-spacing: 1px;
    writing-mode: sideways-lr;
    font-family: fantasy;
    font-size: 254px;
    /* font-style:; */
    
    font-weight: 900;
    font-size: 100000999vmin;
}
.h1.hero {
    font-size: 54px;
}
h2.hero {
    font-size: 30px;
    margin-bottom: 60px;
}
h1.hero:after {
    content: "";
    width: 300px;
    position: relative;
    border-bottom: 1px solid #aaa;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
.call {
    color: white;
    display: block;
    margin-bottom: 20px;
}
.call span {
    display: inline;
    border: 1px solid white;
    padding: 8px 13px;
    font-size: 20px;
    transition: background 0.15s linear;
}
.call span:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

/* 
  Columns 
*/
.col {
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
}
.col.four {
    width: 23%;
    margin: 0 1%;
}
.col.three {
    width: 31.3%;
    margin: 0 1%;
}
.col.two {
    width: 40%;
    margin: 0 2.5%;
    padding: 0 2.5%;
}
.col.extrapad {
    padding-top: 20px;
    padding-bottom: 20px;
}
.col .service,
.col .feature {
    font-size: 21px;
    font-weight: 300;
    font-family: 'Roboto Slab', sans-serif;
}
.col .service:after {
    content: "";
    width: 50px;
    position: relative;
    border-bottom: 1px solid #eee;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
.col .feature {
    font-size: 19px;
}
.col h1.side,
.col p.side,
.col span.side:first-of-type {
    margin-left: 50px;
    text-align: left;
}
.col .icon {
    border-radius: 50%;
    height: 85px;
    width: 85px;
    line-height: 85px;
    text-align: center;
    margin: 0 auto;
    transition: background 0.25s linear, color 0.25s linear;
}
.col .iconx {
    border-radius: 50%;
    height: 85px;
    width: 85px;
    line-height: 85px;
    text-align: center;
    margin: 0 auto;
    transition: background 0.25s linear, color 0.25s linear;
}
.col .icon.side {
    position: absolute;
    padding: 0;
    margin: 0;
    top: -15px;
    height: 50px;
    width: 50px;
}
.col .iconx.side {
    position: absolute;
    padding: 0;
    margin: 0;
    top: -15px;
    height: 50px;
    width: 50px;
}
.col:hover>.icon {
    background: #F44336;
    color: white;
}
.col:hover>.iconx {
    background: #F44336;
    color: black;
}
.iconx {
    background: #F44336;
    color: white;
}
.col:hover>.icon.side {
    background: initial;
    color: initial;
}
.col:hover>.iconx.side {
    background: initial;
    color: initial;
}
.responsivegroup {
    display: none;
}

/*
  Column specifics
*/
.col p,
.col h1 {
    padding: 0 1%;
    text-align: center;
}
.group.margin {
    margin-bottom: 20px;
}
.col .imgholder {
    height: 300px;
    width: 100%;
    /* background: #333; */
    
    background-image: url("camera\ 360.jpg");
    /* transition: background 0.3s linear; */
    
    transition: background 0.3s linear;
}
.photos {
    height: 300px;
    width: 100%;
    background: space;
    height: auto;
}
.col .photos {
    height: 300px;
    width: 100%;
    transition: bacground 0.2 linear;
}
.container1 {
    position: relative;
    width: 100%;
}
.container1 video {
    position: relative;
    width: 100%;
}
.textvideo {
    position: absolute;
    top: 43%;
    left: 30%;
    background: black;
    height: 50%;
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    font-weight: 100px;
    mix-blend-mode: multiply;
}
*/ .col .imgholder2 {}
.col .imgholder4 {
    height: 300px;
    width: 100%;
    /* background: #333; */
    
    background-image: url("IMG_20210804_203918_968.jpg");
    transition: background 0.3s linear;
    transition: bacground 0.2 linear;
}

/*
  Text
*/
.container>h1:not(.hero) {
    margin-bottom: 30px;
    text-align: center;
}
.container>h1:after {
    content: "";
    width: 30px;
    position: relative;
    border-bottom: 1px solid #aaa;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
h2 {
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}
.left,
.left>h1,
.left>p {
    text-align: left;
}
.reset {
    text-align: left !important;
}
.reset:after {
    display: none !important;
}

/* 
  Slider with Content
*/
.white h1,
.white h2,
.white p,
.white div,
.white a {
    color: #fff;
}

/*
  Responsive
*/
.group:after {
    content: "";
    display: table;
    clear: both;
}
@media all and (max-width: 768px) {
    .container {
        width: 95%;
    }
    
    .col.four {
        width: 48%;
        margin: 1%;
    }
    
    .col.three {
        display: block;
        width: 95%;
        padding: 0;
        margin: 0 auto;
        float: none;
    }
    
    .header {
        height: auto;
        background: #eee;
    }
    
    #logo {
        position: initial;
        float: none;
        display: block;
        transform: none;
        margin: 10px auto 0 auto;
    }
    
    ul.nav {
        float: none;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    
    ul.nav li {
        /* float: initial; */
        display: inline-block;
    }
    
    .responsivegroup {
        display: block;
    }
    
    .responsivegroup:after {
        content: "";
        display: table;
        clear: both;
    }
}
@media all and (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media all and (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media all and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media all and (max-width:450px) {
    .col,
    .col.four,
    .col.three,
    .col.two {
        display: block;
        width: 95%;
        padding: 0;
        margin: 0 auto;
        float: none;
    }
    
    .col.extrapad {
        padding: 1%;
        margin-bottom: 10px;
    }
    
    .group {
        display: none;
    }
}
.fin {
    display: block;
    font-family: monospace 'Roboto Slab', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 8px;
}
.TITRE {
    text-align: center;
    font-weight: 1000;
}
